@charset "UTF-8";
/* This is the mac variant */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*::-moz-focus-inner {
  border: 0; }

body {
  margin: 0; }

button,
input {
  font-family: inherit;
  font-size: inherit; }

[hidden] {
  display: none !important; }

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  -moz-context-properties: fill;
  display: inline-block;
  fill: rgba(12, 12, 13, 0.8);
  height: 16px;
  vertical-align: middle;
  width: 16px; }
  .icon.icon-spacer {
    margin-inline-end: 8px; }
  .icon.icon-small-spacer {
    margin-inline-end: 6px; }
  .icon.icon-bookmark-added {
    background-image: url("chrome://browser/skin/bookmark.svg"); }
  .icon.icon-bookmark-hollow {
    background-image: url("chrome://browser/skin/bookmark-hollow.svg"); }
  .icon.icon-delete {
    background-image: url("../data/content/assets/glyph-delete-16.svg"); }
  .icon.icon-modal-delete {
    background-image: url("../data/content/assets/glyph-modal-delete-32.svg");
    background-size: 32px;
    height: 32px;
    width: 32px; }
  .icon.icon-dismiss {
    background-image: url("../data/content/assets/glyph-dismiss-16.svg"); }
  .icon.icon-info {
    background-image: url("../data/content/assets/glyph-info-16.svg"); }
  .icon.icon-import {
    background-image: url("../data/content/assets/glyph-import-16.svg"); }
  .icon.icon-new-window {
    background-image: url("../data/content/assets/glyph-newWindow-16.svg"); }
  .icon.icon-new-window-private {
    background-image: url("chrome://browser/skin/privateBrowsing.svg"); }
  .icon.icon-settings {
    background-image: url("chrome://browser/skin/settings.svg"); }
  .icon.icon-pin {
    background-image: url("../data/content/assets/glyph-pin-16.svg"); }
  .icon.icon-unpin {
    background-image: url("../data/content/assets/glyph-unpin-16.svg"); }
  .icon.icon-edit {
    background-image: url("../data/content/assets/glyph-edit-16.svg"); }
  .icon.icon-pocket {
    background-image: url("../data/content/assets/glyph-pocket-16.svg"); }
  .icon.icon-historyItem {
    background-image: url("../data/content/assets/glyph-historyItem-16.svg"); }
  .icon.icon-trending {
    background-image: url("../data/content/assets/glyph-trending-16.svg");
    transform: translateY(2px); }
  .icon.icon-now {
    background-image: url("chrome://browser/skin/history.svg"); }
  .icon.icon-topsites {
    background-image: url("../data/content/assets/glyph-topsites-16.svg"); }
  .icon.icon-pin-small {
    background-image: url("../data/content/assets/glyph-pin-12.svg");
    background-size: 12px;
    height: 12px;
    width: 12px; }
  .icon.icon-check {
    background-image: url("chrome://browser/skin/check.svg"); }
  .icon.icon-webextension {
    background-image: url("../data/content/assets/glyph-webextension-16.svg"); }
  .icon.icon-highlights {
    background-image: url("../data/content/assets/glyph-highlights-16.svg"); }
  .icon.icon-arrowhead-down {
    background-image: url("../data/content/assets/glyph-arrowhead-down-12.svg");
    background-size: 12px;
    height: 12px;
    width: 12px; }
  .icon.icon-arrowhead-forward {
    background-image: url("../data/content/assets/glyph-arrowhead-down-12.svg");
    background-size: 12px;
    height: 12px;
    transform: rotate(-90deg);
    width: 12px; }
    .icon.icon-arrowhead-forward:dir(rtl) {
      transform: rotate(90deg); }

html,
body,
#root {
  height: 100%; }

body {
  background: #F9F9FA;
  color: #0C0C0D;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  overflow-y: scroll; }

h1,
h2 {
  font-weight: normal; }

a {
  color: #0060DF;
  text-decoration: none; }
  a:hover {
    color: #008EA4; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.inner-border {
  border: 1px solid #D7D7DB;
  border-radius: 3px;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.show-on-init {
  opacity: 0;
  transition: opacity 0.2s ease-in; }
  .show-on-init.on {
    animation: fadeIn 0.2s;
    opacity: 1; }

.actions {
  border-top: 1px solid #D7D7DB;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 15px 25px 0; }
  .actions button {
    background-color: #F9F9FA;
    border: 1px solid #B1B1B3;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 10px 30px;
    white-space: nowrap; }
    .actions button:hover:not(.dismiss) {
      box-shadow: 0 0 0 5px #D7D7DB;
      transition: box-shadow 150ms; }
    .actions button.dismiss {
      border: 0;
      padding: 0;
      text-decoration: underline; }
    .actions button.done {
      background: #0060DF;
      border: solid 1px #0060DF;
      color: #FFF;
      margin-inline-start: auto; }

#snippets-container {
  z-index: 1; }

.outer-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding: 40px 32px 32px; }
  .outer-wrapper.fixed-to-top {
    height: auto; }

main {
  margin: auto;
  padding-bottom: 48px;
  width: 224px; }
  @media (min-width: 416px) {
    main {
      width: 352px; } }
  @media (min-width: 544px) {
    main {
      width: 480px; } }
  @media (min-width: 800px) {
    main {
      width: 736px; } }
  main section {
    margin-bottom: 40px;
    position: relative; }

.section-top-bar {
  height: 16px;
  margin-bottom: 16px; }

.section-title {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase; }
  .section-title span {
    color: #737373;
    fill: #737373;
    vertical-align: middle; }


.body-wrapper .section-title,
.body-wrapper .sections-list .section:last-of-type,
.body-wrapper .topic {
  opacity: 0; }


.body-wrapper.on .section-title,
.body-wrapper.on .sections-list .section:last-of-type,
.body-wrapper.on .topic {
  opacity: 1; }

.top-sites-list {
  list-style: none;
  margin: 0 -16px;
  margin-bottom: -18px;
  padding: 0; }
  @media (max-width: 416px) {
    .top-sites-list :nth-child(2n+1) .context-menu {
      margin-inline-end: auto;
      margin-inline-start: auto;
      offset-inline-end: auto;
      offset-inline-start: -32px; }
    .top-sites-list :nth-child(2n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      offset-inline-end: 0;
      offset-inline-start: auto; } }
  @media (min-width: 416px) and (max-width: 544px) {
    .top-sites-list :nth-child(3n+2) .context-menu,
    .top-sites-list :nth-child(3n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      offset-inline-end: 0;
      offset-inline-start: auto; } }
  @media (min-width: 544px) and (max-width: 800px) {
    .top-sites-list :nth-child(4n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      offset-inline-end: 0;
      offset-inline-start: auto; } }
  @media (min-width: 544px) and (max-width: 768px) {
    .top-sites-list :nth-child(4n+3) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      offset-inline-end: 0;
      offset-inline-start: auto; } }
  @media (min-width: 800px) and (max-width: 1248px) {
    .top-sites-list :nth-child(6n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      offset-inline-end: 0;
      offset-inline-start: auto; } }
  @media (min-width: 800px) and (max-width: 1024px) {
    .top-sites-list :nth-child(6n+5) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      offset-inline-end: 0;
      offset-inline-start: auto; } }
  .top-sites-list li {
    display: inline-block;
    margin: 0 0 8px; }
  .top-sites-list .top-site-outer {
    padding: 0 16px; }
    .top-sites-list .top-site-outer .top-site-inner {
      position: relative; }
      .top-sites-list .top-site-outer .top-site-inner > a {
        color: inherit;
        display: block;
        outline: none; }
        .top-sites-list .top-site-outer .top-site-inner > a:-moz-any(.active, :focus) .tile {
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 5px #D7D7DB;
          transition: box-shadow 150ms; }
    .top-sites-list .top-site-outer .context-menu-button {
      background-clip: padding-box;
      background-color: #FFF;
      background-image: url("chrome://browser/skin/page-action.svg");
      background-position: 55%;
      border: 1px solid #B1B1B3;
      border-radius: 100%;
      box-shadow: 0 2px rgba(12, 12, 13, 0.1);
      cursor: pointer;
      fill: rgba(12, 12, 13, 0.8);
      height: 27px;
      offset-inline-end: -13.5px;
      opacity: 0;
      position: absolute;
      top: -13.5px;
      transform: scale(0.25);
      transition-duration: 200ms;
      transition-property: transform, opacity;
      width: 27px; }
      .top-sites-list .top-site-outer .context-menu-button:-moz-any(:active, :focus) {
        opacity: 1;
        transform: scale(1); }
    .top-sites-list .top-site-outer:-moz-any(.active, :focus, :hover) .tile {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 5px #D7D7DB;
      transition: box-shadow 150ms; }
    .top-sites-list .top-site-outer:-moz-any(.active, :focus, :hover) .edit-menu {
      opacity: 1;
      transform: scale(1); }
    .top-sites-list .top-site-outer:-moz-any(.active, :focus, :hover) .context-menu-button {
      opacity: 1;
      transform: scale(1); }
    .top-sites-list .top-site-outer .tile {
      border-radius: 6px;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(12, 12, 13, 0.1);
      height: 96px;
      position: relative;
      width: 96px;
      align-items: center;
      color: #737373;
      display: flex;
      font-size: 32px;
      font-weight: 200;
      justify-content: center;
      text-transform: uppercase; }
      .top-sites-list .top-site-outer .tile::before {
        content: attr(data-fallback); }
    .top-sites-list .top-site-outer .screenshot {
      background-color: #FFF;
      background-position: top left;
      background-size: cover;
      border-radius: 6px;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 1s;
      width: 100%; }
      .top-sites-list .top-site-outer .screenshot.active {
        opacity: 1; }
    .top-sites-list .top-site-outer .top-site-icon {
      background-color: #F9F9FA;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 6px;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      position: absolute; }
    .top-sites-list .top-site-outer .rich-icon {
      background-size: 96px;
      height: 100%;
      offset-inline-start: 0;
      top: 0;
      width: 100%; }
    .top-sites-list .top-site-outer .default-icon {
      background-size: 32px;
      bottom: -6px;
      height: 42px;
      offset-inline-end: -6px;
      width: 42px;
      align-items: center;
      display: flex;
      font-size: 20px;
      justify-content: center; }
      .top-sites-list .top-site-outer .default-icon[data-fallback]::before {
        content: attr(data-fallback); }
    .top-sites-list .top-site-outer .title {
      font: message-box;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 96px;
      position: relative; }
      .top-sites-list .top-site-outer .title .icon {
        fill: #D7D7DB;
        offset-inline-start: 0;
        position: absolute;
        top: 10px; }
      .top-sites-list .top-site-outer .title span {
        height: 30px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .top-sites-list .top-site-outer .title.pinned span {
        padding: 0 13px; }
    .top-sites-list .top-site-outer .edit-button {
      background-image: url("../data/content/assets/glyph-edit-16.svg"); }
    .top-sites-list .top-site-outer .edit-menu {
      background: #FFF;
      border: 1px solid #B1B1B3;
      border-radius: 12.5px;
      box-shadow: 0 2px rgba(12, 12, 13, 0.1);
      height: 25px;
      position: absolute;
      offset-inline-end: -12.5px;
      opacity: 0;
      overflow: hidden;
      top: -12.5px;
      transform: scale(0.25);
      transition-property: transform, opacity;
      transition-duration: 200ms;
      z-index: 1000; }
      .top-sites-list .top-site-outer .edit-menu:-moz-any(:active, :focus) {
        transform: scale(1);
        opacity: 1; }
      .top-sites-list .top-site-outer .edit-menu button {
        border: 0;
        border-right: 1px solid #B1B1B3;
        background-color: #FFF;
        cursor: pointer;
        height: 100%;
        width: 25px; }
        .top-sites-list .top-site-outer .edit-menu button:hover {
          background-color: #EDEDF0; }
        .top-sites-list .top-site-outer .edit-menu button:first-child:dir(ltr), .top-sites-list .top-site-outer .edit-menu button:last-child:dir(rtl) {
          width: 30px; }
        .top-sites-list .top-site-outer .edit-menu button:last-child:dir(ltr), .top-sites-list .top-site-outer .edit-menu button:first-child:dir(rtl) {
          width: 28px; }
        .top-sites-list .top-site-outer .edit-menu button:last-child:dir(ltr) {
          border-right: 0; }
        .top-sites-list .top-site-outer .edit-menu button:first-child:dir(rtl) {
          border-right: 0; }
    .top-sites-list .top-site-outer.placeholder .tile {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
    .top-sites-list .top-site-outer.placeholder .screenshot {
      display: none; }
    .top-sites-list .top-site-outer.placeholder .edit-menu:last-child button {
      background-size: 13px;
      width: 23px; }

.edit-topsites-wrapper .edit-topsites-button {
  border-right: 1px solid #D7D7DB;
  line-height: 13px;
  offset-inline-end: 24px;
  opacity: 0;
  padding: 0 10px;
  pointer-events: none;
  position: absolute;
  top: 2px;
  transition: opacity 0.2s cubic-bezier(0.07, 0.95, 0, 1); }
  .edit-topsites-wrapper .edit-topsites-button:dir(rtl) {
    border-left: 1px solid #D7D7DB;
    border-right: 0; }
  .edit-topsites-wrapper .edit-topsites-button:-moz-any(:active, :focus) {
    opacity: 1; }
  .edit-topsites-wrapper .edit-topsites-button button {
    background: none;
    border: 0;
    color: #737373;
    cursor: pointer;
    font-size: 12px;
    padding: 0; }
    .edit-topsites-wrapper .edit-topsites-button button:focus {
      background: #EDEDF0;
      border-bottom: dotted 1px #737373; }

.edit-topsites-wrapper .modal {
  offset-inline-start: -31px;
  position: absolute;
  top: -29px;
  width: calc(100% + 62px);
  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1); }

.edit-topsites-wrapper .edit-topsites-inner-wrapper {
  margin: 0;
  padding: 15px 30px; }

.edit-topsites-wrapper .show-more,
.edit-topsites-wrapper .show-less {
  background-position: left 10px center;
  background-repeat: no-repeat;
  height: auto;
  margin-inline-start: 10px;
  padding-inline-end: 15px;
  width: auto; }
  .edit-topsites-wrapper .show-more:dir(rtl),
  .edit-topsites-wrapper .show-less:dir(rtl) {
    background-position: right 10px center; }
  .edit-topsites-wrapper .show-more span,
  .edit-topsites-wrapper .show-less span {
    padding-inline-start: 3px; }

.top-sites:not(.collapsed):hover .edit-topsites-button {
  opacity: 1;
  pointer-events: auto; }

.topsite-form .form-wrapper {
  margin: auto;
  max-width: 350px;
  padding: 15px 0; }
  .topsite-form .form-wrapper .field {
    position: relative; }
  .topsite-form .form-wrapper .url input:not(:placeholder-shown):dir(rtl) {
    direction: ltr;
    text-align: right; }
  .topsite-form .form-wrapper .section-title {
    margin-bottom: 5px; }
  .topsite-form .form-wrapper input[type='text'] {
    border: solid 1px rgba(12, 12, 13, 0.2);
    border-radius: 2px;
    margin: 5px 0;
    padding: 7px;
    width: 100%; }
    .topsite-form .form-wrapper input[type='text']:focus {
      border: solid 1px rgba(12, 12, 13, 0.4); }
  .topsite-form .form-wrapper .invalid input[type='text'] {
    border: solid 1px #D70022;
    box-shadow: 0 0 0 2px rgba(215, 0, 34, 0.35); }
  .topsite-form .form-wrapper .error-tooltip {
    animation: fade-up-tt 450ms;
    background: #D70022;
    border-radius: 2px;
    color: #FFF;
    offset-inline-start: 3px;
    padding: 5px 12px;
    position: absolute;
    top: 44px;
    z-index: 1; }
    .topsite-form .form-wrapper .error-tooltip::before {
      background: #D70022;
      bottom: -8px;
      content: '.';
      height: 16px;
      offset-inline-start: 12px;
      position: absolute;
      text-indent: -999px;
      top: -7px;
      transform: rotate(45deg);
      white-space: nowrap;
      width: 16px;
      z-index: -1; }

.topsite-form .actions {
  justify-content: flex-end; }
  .topsite-form .actions button {
    margin-inline-start: 10px;
    margin-inline-end: 0; }

@keyframes fade-up-tt {
  0% {
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.sections-list .section-list {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fit, 224px);
  margin: 0; }
  @media (max-width: 544px) {
    .sections-list .section-list .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      offset-inline-end: 0;
      offset-inline-start: auto; } }
  @media (min-width: 544px) and (max-width: 800px) {
    .sections-list .section-list :nth-child(2n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      offset-inline-end: 0;
      offset-inline-start: auto; } }
  @media (min-width: 800px) and (max-width: 1248px) {
    .sections-list .section-list :nth-child(3n) .context-menu {
      margin-inline-end: 5px;
      margin-inline-start: auto;
      offset-inline-end: 0;
      offset-inline-start: auto; } }

.sections-list .section-empty-state {
  border: 1px solid #D7D7DB;
  border-radius: 3px;
  display: flex;
  height: 266px;
  width: 100%; }
  .sections-list .section-empty-state .empty-state {
    margin: auto;
    max-width: 350px; }
    .sections-list .section-empty-state .empty-state .empty-state-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px 50px;
      -moz-context-properties: fill;
      display: block;
      fill: rgba(12, 12, 13, 0.6);
      height: 50px;
      margin: 0 auto;
      width: 50px; }
    .sections-list .section-empty-state .empty-state .empty-state-message {
      color: #737373;
      font-size: 13px;
      margin-bottom: 0;
      text-align: center; }

.topic {
  color: #737373;
  font-size: 12px;
  line-height: 1.6;
  margin-top: 12px; }
  @media (min-width: 800px) {
    .topic {
      line-height: 16px; } }
  .topic ul {
    margin: 0;
    padding: 0; }
    @media (min-width: 800px) {
      .topic ul {
        display: inline;
        padding-inline-start: 12px; } }
  .topic ul li {
    display: inline-block; }
    .topic ul li::after {
      content: '•';
      padding: 8px; }
    .topic ul li:last-child::after {
      content: none; }
  .topic .topic-link {
    color: #008EA4; }
  .topic .topic-read-more {
    color: #008EA4; }
    @media (min-width: 800px) {
      .topic .topic-read-more {
        float: right; }
        .topic .topic-read-more:dir(rtl) {
          float: left; } }
    .topic .topic-read-more::after {
      background: url("../data/content/assets/topic-show-more-12.svg") no-repeat center center;
      content: '';
      -moz-context-properties: fill;
      display: inline-block;
      fill: #008EA4;
      height: 16px;
      margin-inline-start: 5px;
      vertical-align: top;
      width: 12px; }
    .topic .topic-read-more:dir(rtl)::after {
      transform: scaleX(-1); }
  .topic::after {
    clear: both;
    content: '';
    display: table; }

.search-wrapper {
  cursor: default;
  display: flex;
  height: 35px;
  margin: 1px 1px 40px;
  position: relative;
  width: 100%; }
  .search-wrapper input {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.15);
    color: inherit;
    font-size: 15px;
    padding: 0;
    padding-inline-end: 36px;
    padding-inline-start: 35px;
    width: 100%; }
  .search-wrapper:hover input {
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.25); }
  .search-wrapper:active input,
  .search-wrapper input:focus {
    box-shadow: 0 0 0 3px #0A84FF; }
  .search-wrapper .search-label {
    background: url("chrome://browser/skin/search-glass.svg") no-repeat 12px center/16px;
    -moz-context-properties: fill;
    fill: rgba(12, 12, 13, 0.4);
    height: 100%;
    offset-inline-start: 0;
    position: absolute;
    width: 35px; }
  .search-wrapper .search-button {
    background: url("chrome://browser/skin/forward.svg") no-repeat center center;
    background-size: 16px 16px;
    border: 0;
    border-radius: 0 3px 3px 0;
    -moz-context-properties: fill;
    fill: rgba(12, 12, 13, 0.4);
    height: 100%;
    offset-inline-end: 0;
    position: absolute;
    width: 36px; }
    .search-wrapper .search-button:focus, .search-wrapper .search-button:hover {
      background-color: rgba(12, 12, 13, 0.1);
      cursor: pointer; }
    .search-wrapper .search-button:active {
      background-color: rgba(12, 12, 13, 0.2); }
    .search-wrapper .search-button:dir(rtl) {
      transform: scaleX(-1); }
  .search-wrapper .contentSearchSuggestionTable {
    border: 0;
    transform: translateY(2px); }

.context-menu {
  background: #F9F9FA;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 14px;
  margin-inline-start: 5px;
  offset-inline-start: 100%;
  position: absolute;
  top: 6.75px;
  z-index: 10000; }
  .context-menu > ul {
    list-style: none;
    margin: 0;
    padding: 5px 0; }
    .context-menu > ul > li {
      margin: 0;
      width: 100%; }
      .context-menu > ul > li.separator {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin: 5px 0; }
      .context-menu > ul > li > a {
        align-items: center;
        color: inherit;
        cursor: pointer;
        display: flex;
        line-height: 16px;
        outline: none;
        padding: 3px 12px;
        white-space: nowrap; }
        .context-menu > ul > li > a:-moz-any(:focus, :hover) {
          background: #0060DF;
          color: #FFF; }
          .context-menu > ul > li > a:-moz-any(:focus, :hover) a {
            color: #0C0C0D; }
          .context-menu > ul > li > a:-moz-any(:focus, :hover) .icon {
            fill: #FFF; }
          .context-menu > ul > li > a:-moz-any(:focus, :hover):-moz-any(:focus, :hover) {
            color: #FFF; }

.prefs-pane {
  color: #4A4A4F;
  font-size: 14px;
  line-height: 21px; }
  .prefs-pane .sidebar {
    background: #FFF;
    border-left: 1px solid #D7D7DB;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    height: 100%;
    offset-inline-end: 0;
    overflow-y: auto;
    padding: 40px;
    position: fixed;
    top: 0;
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform;
    width: 400px;
    z-index: 12000; }
    .prefs-pane .sidebar.hidden {
      transform: translateX(100%); }
      .prefs-pane .sidebar.hidden:dir(rtl) {
        transform: translateX(-100%); }
    .prefs-pane .sidebar h1 {
      font-size: 21px;
      margin: 0;
      padding-top: 20px; }
  .prefs-pane hr {
    border: 0;
    border-bottom: 1px solid #D7D7DB;
    margin: 20px 0; }
  .prefs-pane .prefs-modal-inner-wrapper {
    padding-bottom: 100px; }
    .prefs-pane .prefs-modal-inner-wrapper section {
      margin: 20px 0; }
      .prefs-pane .prefs-modal-inner-wrapper section p {
        margin: 5px 0 20px 30px; }
      .prefs-pane .prefs-modal-inner-wrapper section label {
        display: inline-block;
        position: relative;
        width: 100%; }
        .prefs-pane .prefs-modal-inner-wrapper section label input {
          offset-inline-start: -30px;
          position: absolute;
          top: 0; }
      .prefs-pane .prefs-modal-inner-wrapper section > label {
        font-size: 16px;
        font-weight: bold;
        line-height: 19px; }
    .prefs-pane .prefs-modal-inner-wrapper .options {
      background: #F9F9FA;
      border: 1px solid #D7D7DB;
      border-radius: 2px;
      margin: -10px 0 20px;
      margin-inline-start: 30px;
      padding: 10px; }
      .prefs-pane .prefs-modal-inner-wrapper .options.disabled {
        opacity: 0.5; }
      .prefs-pane .prefs-modal-inner-wrapper .options label {
        background-position-x: 35px;
        background-position-y: 2.5px;
        background-repeat: no-repeat;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        height: auto;
        line-height: 21px;
        width: 100%; }
        .prefs-pane .prefs-modal-inner-wrapper .options label:dir(rtl) {
          background-position-x: right 35px; }
      .prefs-pane .prefs-modal-inner-wrapper .options [type='checkbox']:not(:checked) + label,
      .prefs-pane .prefs-modal-inner-wrapper .options [type='checkbox']:checked + label {
        padding-inline-start: 63px; }
      .prefs-pane .prefs-modal-inner-wrapper .options section {
        margin: 0; }
  .prefs-pane .actions {
    background-color: #F9F9FA;
    border-left: 1px solid #D7D7DB;
    bottom: 0;
    offset-inline-end: 0;
    position: fixed;
    width: 400px; }
    .prefs-pane .actions button {
      margin-inline-end: 20px; }
  .prefs-pane [type='checkbox']:not(:checked),
  .prefs-pane [type='checkbox']:checked {
    offset-inline-start: -9999px;
    position: absolute; }
  .prefs-pane [type='checkbox']:not(:disabled):not(:checked) + label,
  .prefs-pane [type='checkbox']:not(:disabled):checked + label {
    cursor: pointer;
    padding: 0 30px;
    position: relative; }
  .prefs-pane [type='checkbox']:not(:checked) + label::before,
  .prefs-pane [type='checkbox']:checked + label::before {
    background: #FFF;
    border: 1px solid #B1B1B3;
    border-radius: 3px;
    content: '';
    height: 21px;
    offset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 21px; }
  .prefs-pane [type='checkbox']:not(:checked) + label::after,
  .prefs-pane [type='checkbox']:checked + label::after {
    background: url("chrome://global/skin/in-content/check.svg") no-repeat center center;
    content: '';
    -moz-context-properties: fill, stroke;
    fill: #0060DF;
    height: 21px;
    offset-inline-start: 0;
    position: absolute;
    stroke: none;
    top: 0;
    width: 21px; }
  .prefs-pane [type='checkbox']:not(:checked) + label::after {
    opacity: 0; }
  .prefs-pane [type='checkbox']:checked + label::after {
    opacity: 1; }
  .prefs-pane [type='checkbox']:not(:disabled) + label:hover::before {
    border: 1px solid #0060DF; }
  .prefs-pane [type='checkbox']:not(:disabled):checked:focus + label::before,
  .prefs-pane [type='checkbox']:not(:disabled):not(:checked):focus + label::before {
    border: 1px dotted #0060DF; }

.prefs-pane-button button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  fill: rgba(12, 12, 13, 0.6);
  offset-inline-end: 15px;
  padding: 15px;
  position: fixed;
  top: 15px;
  z-index: 12001; }
  .prefs-pane-button button:hover {
    background-color: #EDEDF0; }
  .prefs-pane-button button:active {
    background-color: #F9F9FA; }

.confirmation-dialog .modal {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  left: 50%;
  margin-left: -200px;
  position: fixed;
  top: 20%;
  width: 400px; }

.confirmation-dialog section {
  margin: 0; }

.confirmation-dialog .modal-message {
  display: flex;
  padding: 16px;
  padding-bottom: 0; }
  .confirmation-dialog .modal-message p {
    margin: 0;
    margin-bottom: 16px; }

.confirmation-dialog .actions {
  border: 0;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 16px; }
  .confirmation-dialog .actions button {
    margin-inline-end: 16px;
    padding-inline-end: 18px;
    padding-inline-start: 18px;
    white-space: normal;
    width: 50%; }
    .confirmation-dialog .actions button.done {
      margin-inline-end: 0;
      margin-inline-start: 0; }

.confirmation-dialog .icon {
  margin-inline-end: 16px; }

.modal-overlay {
  background: #EDEDF0;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11001; }

.modal {
  background: #FFF;
  border: 1px solid #D7D7DB;
  border-radius: 5px;
  font-size: 15px;
  z-index: 11002; }

.card-outer {
  background: #FFF;
  border-radius: 3px;
  display: inline-block;
  height: 266px;
  margin-inline-end: 32px;
  position: relative;
  width: 224px; }
  .card-outer .context-menu-button {
    background-clip: padding-box;
    background-color: #FFF;
    background-image: url("chrome://browser/skin/page-action.svg");
    background-position: 55%;
    border: 1px solid #B1B1B3;
    border-radius: 100%;
    box-shadow: 0 2px rgba(12, 12, 13, 0.1);
    cursor: pointer;
    fill: rgba(12, 12, 13, 0.8);
    height: 27px;
    offset-inline-end: -13.5px;
    opacity: 0;
    position: absolute;
    top: -13.5px;
    transform: scale(0.25);
    transition-duration: 200ms;
    transition-property: transform, opacity;
    width: 27px; }
    .card-outer .context-menu-button:-moz-any(:active, :focus) {
      opacity: 1;
      transform: scale(1); }
  .card-outer.placeholder {
    background: transparent; }
    .card-outer.placeholder .card {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .card-outer .card {
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    height: 100%; }
  .card-outer > a {
    color: inherit;
    display: block;
    height: 100%;
    outline: none;
    position: absolute;
    width: 224px; }
    .card-outer > a:-moz-any(.active, :focus) .card {
      box-shadow: 0 0 0 5px #D7D7DB;
      transition: box-shadow 150ms; }
    .card-outer > a:-moz-any(.active, :focus) .card-title {
      color: #0060DF; }
  .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) {
    box-shadow: 0 0 0 5px #D7D7DB;
    transition: box-shadow 150ms;
    outline: none; }
    .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) .context-menu-button {
      opacity: 1;
      transform: scale(1); }
    .card-outer:-moz-any(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #0060DF; }
  .card-outer .card-preview-image-outer {
    background-color: #F9F9FA;
    border-radius: 3px 3px 0 0;
    height: 122px;
    overflow: hidden;
    position: relative; }
    .card-outer .card-preview-image-outer::after {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      bottom: 0;
      content: '';
      position: absolute;
      width: 100%; }
    .card-outer .card-preview-image-outer .card-preview-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      opacity: 0;
      transition: opacity 1s cubic-bezier(0.07, 0.95, 0, 1);
      width: 100%; }
      .card-outer .card-preview-image-outer .card-preview-image.loaded {
        opacity: 1; }
  .card-outer .card-details {
    padding: 15px 16px 12px; }
    .card-outer .card-details.no-image {
      padding-top: 16px; }
  .card-outer .card-text {
    max-height: 78px;
    overflow: hidden; }
    .card-outer .card-text.no-image {
      max-height: 192px; }
    .card-outer .card-text.no-host-name, .card-outer .card-text.no-context {
      max-height: 97px; }
    .card-outer .card-text.no-image.no-host-name, .card-outer .card-text.no-image.no-context {
      max-height: 211px; }
    .card-outer .card-text.no-host-name.no-context {
      max-height: 116px; }
    .card-outer .card-text.no-image.no-host-name.no-context {
      max-height: 230px; }
    .card-outer .card-text:not(.no-description) .card-title {
      max-height: 57px;
      overflow: hidden; }
  .card-outer .card-host-name {
    color: #737373;
    font-size: 10px;
    overflow: hidden;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    text-transform: uppercase; }
  .card-outer .card-title {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 2px;
    word-wrap: break-word; }
  .card-outer .card-description {
    font-size: 12px;
    line-height: 19px;
    margin: 0;
    overflow: hidden;
    word-wrap: break-word; }
  .card-outer .card-context {
    bottom: 0;
    color: #737373;
    display: flex;
    font-size: 11px;
    left: 0;
    padding: 12px 16px 12px 14px;
    position: absolute;
    right: 0; }
  .card-outer .card-context-icon {
    fill: rgba(12, 12, 13, 0.6);
    margin-inline-end: 6px; }
  .card-outer .card-context-label {
    flex-grow: 1;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.manual-migration-container {
  color: #4A4A4F;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 40px;
  text-align: center; }
  @media (min-width: 544px) {
    .manual-migration-container {
      display: flex;
      justify-content: space-between;
      text-align: left; } }
  .manual-migration-container p {
    margin: 0; }
    @media (min-width: 544px) {
      .manual-migration-container p {
        align-self: center;
        display: flex;
        justify-content: space-between; } }
  .manual-migration-container .icon {
    display: none; }
    @media (min-width: 544px) {
      .manual-migration-container .icon {
        align-self: center;
        display: block;
        fill: rgba(12, 12, 13, 0.6);
        margin-inline-end: 6px; } }

.manual-migration-actions {
  border: 0;
  display: block;
  flex-wrap: nowrap; }
  @media (min-width: 544px) {
    .manual-migration-actions {
      display: flex;
      justify-content: space-between;
      padding: 0; } }
  .manual-migration-actions button {
    align-self: center;
    height: 26px;
    margin: 0;
    margin-inline-start: 20px;
    padding: 0 12px; }

.collapsible-section .section-title .click-target {
  cursor: pointer;
  vertical-align: top;
  white-space: nowrap; }

.collapsible-section .section-title .icon-arrowhead-down,
.collapsible-section .section-title .icon-arrowhead-forward {
  margin-inline-start: 8px;
  margin-top: -1px; }

.collapsible-section .section-top-bar {
  position: relative; }
  .collapsible-section .section-top-bar .section-info-option {
    offset-inline-end: 0;
    position: absolute;
    top: 0; }
  .collapsible-section .section-top-bar .info-option-icon {
    background-image: url("../data/content/assets/glyph-info-option-12.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    -moz-context-properties: fill;
    display: inline-block;
    fill: rgba(12, 12, 13, 0.6);
    height: 16px;
    margin-bottom: -2px;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.07, 0.95, 0, 1);
    width: 16px; }
    .collapsible-section .section-top-bar .info-option-icon[aria-expanded='true'] {
      background-color: rgba(12, 12, 13, 0.1);
      border-radius: 1px;
      box-shadow: 0 0 0 5px rgba(12, 12, 13, 0.1);
      fill: rgba(12, 12, 13, 0.8); }
      .collapsible-section .section-top-bar .info-option-icon[aria-expanded='true'] + .info-option {
        opacity: 1;
        transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.07, 0.95, 0, 1);
        visibility: visible; }
    .collapsible-section .section-top-bar .info-option-icon:not([aria-expanded='true']) + .info-option {
      pointer-events: none; }
    .collapsible-section .section-top-bar .info-option-icon:-moz-any(:active, :focus) {
      opacity: 1; }
  .collapsible-section .section-top-bar .section-info-option .info-option {
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s cubic-bezier(0.07, 0.95, 0, 1);
    visibility: hidden; }
    .collapsible-section .section-top-bar .section-info-option .info-option::after, .collapsible-section .section-top-bar .section-info-option .info-option::before {
      content: '';
      offset-inline-end: 0;
      position: absolute; }
    .collapsible-section .section-top-bar .section-info-option .info-option::before {
      background-image: url("chrome://global/skin/arrow/panelarrow-vertical.svg");
      background-position: right 7px bottom;
      background-repeat: no-repeat;
      background-size: 18px 10px;
      -moz-context-properties: fill, stroke;
      fill: #FFF;
      height: 32px;
      stroke: #D7D7DB;
      top: -32px;
      width: 43px; }
    .collapsible-section .section-top-bar .section-info-option .info-option:dir(rtl)::before {
      background-position-x: 7px; }
    .collapsible-section .section-top-bar .section-info-option .info-option::after {
      height: 10px;
      offset-inline-start: 0;
      top: -10px; }
  .collapsible-section .section-top-bar .info-option {
    background: #FFF;
    border: 1px solid #D7D7DB;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    font-size: 13px;
    line-height: 120%;
    margin-inline-end: -9px;
    offset-inline-end: 0;
    padding: 24px;
    position: absolute;
    top: 26px;
    -moz-user-select: none;
    width: 320px;
    z-index: 9999; }
  .collapsible-section .section-top-bar .info-option-header {
    font-size: 15px;
    font-weight: 600; }
  .collapsible-section .section-top-bar .info-option-body {
    margin: 0;
    margin-top: 12px; }
  .collapsible-section .section-top-bar .info-option-link {
    color: #0060DF;
    margin-left: 7px; }
  .collapsible-section .section-top-bar .info-option-manage {
    margin-top: 24px; }
    .collapsible-section .section-top-bar .info-option-manage button {
      background: 0;
      border: 0;
      color: #0060DF;
      cursor: pointer;
      margin: 0;
      padding: 0; }
      .collapsible-section .section-top-bar .info-option-manage button::after {
        background-image: url("../data/content/assets/topic-show-more-12.svg");
        background-repeat: no-repeat;
        content: '';
        -moz-context-properties: fill;
        display: inline-block;
        fill: #0060DF;
        height: 16px;
        margin-inline-start: 5px;
        margin-top: 1px;
        vertical-align: middle;
        width: 12px; }
      .collapsible-section .section-top-bar .info-option-manage button:dir(rtl)::after {
        transform: scaleX(-1); }

.collapsible-section .section-disclaimer {
  color: #4A4A4F;
  font-size: 13px;
  margin-bottom: 16px;
  position: relative; }
  .collapsible-section .section-disclaimer .section-disclaimer-text {
    display: inline-block; }
    @media (min-width: 416px) {
      .collapsible-section .section-disclaimer .section-disclaimer-text {
        width: 224px; } }
    @media (min-width: 544px) {
      .collapsible-section .section-disclaimer .section-disclaimer-text {
        width: 340px; } }
    @media (min-width: 800px) {
      .collapsible-section .section-disclaimer .section-disclaimer-text {
        width: 610px; } }
  .collapsible-section .section-disclaimer a {
    color: #008EA4;
    padding-left: 3px; }
  .collapsible-section .section-disclaimer button {
    background: #F9F9FA;
    border: 1px solid #B1B1B3;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
    max-width: 130px;
    min-height: 26px;
    offset-inline-end: 0; }
    .collapsible-section .section-disclaimer button:hover:not(.dismiss) {
      box-shadow: 0 0 0 5px #D7D7DB;
      transition: box-shadow 150ms; }
    @media (min-width: 416px) {
      .collapsible-section .section-disclaimer button {
        position: absolute; } }

.collapsible-section .section-body {
  margin: 0 -7px;
  padding: 0 7px; }
  .collapsible-section .section-body.animating {
    overflow: hidden;
    pointer-events: none; }

.collapsible-section.animation-enabled .section-title .icon-arrowhead-down,
.collapsible-section.animation-enabled .section-title .icon-arrowhead-forward {
  transition: transform 0.5s cubic-bezier(0.07, 0.95, 0, 1); }

.collapsible-section.animation-enabled .section-body {
  transition: max-height 0.5s cubic-bezier(0.07, 0.95, 0, 1); }

.collapsible-section.collapsed .section-body {
  max-height: 0;
  overflow: hidden; }

.collapsible-section.collapsed .section-info-option {
  pointer-events: none; }

.collapsible-section:not(.collapsed):hover .info-option-icon {
  opacity: 1; }
